// nav.scss
@import 'colors.scss';

/* Nesting */

/* SCSS */

nav {
    font: {
        size: 1em;
        weight: bold; // Corrected from font-weight to weight
    }
    float: left;
    ul {
        list-style-type: none;
        li {
            float: left;
            margin: 0 5px 0 0;
            color: $color4;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                color: $color4;
            }
        }
    }
}
